        .rozita_calendar {
            /*overflow-x: auto;*/
            /*white-space: nowrap;*/
            overflow-x: scroll;
            overflow-y: hidden;
            /*width: 100%;
            height: auto;*/
        }


        .rozita_calendar table {
            font-size: 14px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

        .rozita_calendar table th {
            /*font-size: 12px;
                    height: auto;
                    min-width: 62px;*/
        }

        .rozita_calendar table td {
            font-size: 12px;
            height: auto;
            /*-moz-min-width: 62px;
                    -ms-min-width: 62px;
                    -o-min-width: 62px;
                    -webkit-min-width: 62px;
                    min-width: 62px;*/
            /*min-width: 62px;*/

            /*width: 75px;*/
            min-width: 75px;
        }



        /*.rozita_calendar table th {
                    border-width: 1px;
                    padding: 8px;
                    border-style: solid;
                    border-color: #666666;
                    background-color: #dedede;
                }*/


        .rozita_calendar table td {
            border-color: #999;
            background-color: #ffffff;
            text-align: center;
            word-wrap: break-word;
        }

        .rozita_calendar table thead td {
            padding-right: 12px;
            padding-left: 12px;
            padding-top: 3px;
            padding-bottom: 2px;
        }

        .rozita_calendar table tbody td {
            padding-right: 12px;
            padding-left: 12px;
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .rozita_calendar .cell_root {
            /*border: 2px solid #222;*/
        }

        .rozita_calendar .spd_row .spd_day {
            font-size: 10px;
        }

        .rozita_calendar .header_row .spd_holiday {
            /*border: 1px solid red !important;*/
            background: lightpink !important;
        }

        .rozita_calendar .header_row .spd_event {
        }

        .rozita_calendar .header_row .cell_friday {
            background: #ccc;
        }

        .rozita_calendar thead .month-01 {
            background: #8EC690;
        }

        .rozita_calendar thead .month-02 {
            background: #B0D18D;
        }

        .rozita_calendar thead .month-03 {
            background: #D9DF84;
        }

        .rozita_calendar thead .month-04 {
            background: #FACB72;
        }

        .rozita_calendar thead .month-05 {
            background: #FA8D72;
        }

        .rozita_calendar thead .month-06 {
            background: #F49E87;
        }

        .rozita_calendar thead .month-07 {
            background: #FCBA66;
        }

        .rozita_calendar thead .month-08 {
            background: #FFD166;
        }

        .rozita_calendar thead .month-09 {
            background: #FEE785;
        }

        .rozita_calendar thead .month-10 {
            background: #78B7EF;
        }

        .rozita_calendar thead .month-11 {
            background: #67C3EF;
        }

        .rozita_calendar thead .month-12 {
            background: #66CDDA;
        }

    .rozita_calendar .tour_title {
        color: #555555;
        font-weight: bold;
    }

    .highlighted {
        background: #fffacd;
    }

    .tour-icon {
        margin-left: 3px;
        margin-right: 3px;
    }